<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8080/ProductService.svc"
                      binding="basicHttpBinding"
                      contract="SampleEcomStoreApi.Contracts.ServiceContracts.IProductService"
                      name="ProductServiceEndpoint" />
            <endpoint address="http://localhost:8080/CustomerService.svc"
                      binding="basicHttpBinding"
                      contract="SampleEcomStoreApi.Contracts.ServiceContracts.ICustomerService"
                      name="CustomerServiceEndpoint" />
            <endpoint address="http://localhost:8080/OrderService.svc"
                      binding="basicHttpBinding"
                      contract="SampleEcomStoreApi.Contracts.ServiceContracts.IOrderService"
                      name="OrderServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>
